# https://www.ssh.com/ssh/config

# Enables the sharing of multiple sessions over a single network connection
Host *
ServerAliveInterval 120
ServerAliveCountMax 2
ControlMaster auto
ControlPath ~/.ssh/%h-%p-%r
ControlPersist yes

Host Baidu2C4G
hostname 106.13.40.175
user root

Host Ali2C4G
hostname 47.97.104.236
user root

Host Amazon
hostname 54.180.124.184
user ec2-user
IdentityFile ~/.ssh/zs_amazon.pem
